{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %} Soft UI Design System by Creative Tim {% endblock title %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h4 class="font-weight-bolder">Password Changed</h4>
            </div>
            <div class="card-body">
              Your password has been changed successfully. Login again.
                  <a class="text-primary" href="{% url 'login' %}">Login</a>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
          <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
            <img src="{% static 'img/shapes/pattern-lines.svg' %}" alt="pattern-lines" class="position-absolute opacity-4 start-0">
            <div class="position-relative">
              <img class="max-width-500 w-100 position-relative z-index-2" src="{% static 'img/illustrations/chat.png' %}">
            </div>
            <h4 class="mt-5 text-white font-weight-bolder">"Attention is the new currency"</h4>
            <p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block footer %}

{% include 'includes/footer_signin.html' %}

{% endblock footer %}